@keyframes glitch {
    0% {
        transform: translate(0);
        filter: hue-rotate(0deg);
    }

    20% {
        transform: translate(-3px, 2px);
        filter: hue-rotate(90deg);
    }

    40% {
        transform: translate(3px, -2px);
    }

    60% {
        transform: translate(-2px, 1px);
        filter: contrast(150%);
    }

    80% {
        transform: translate(2px, -1px);
    }

    100% {
        transform: translate(0);
        filter: hue-rotate(0deg);
    }
}

@keyframes ticker {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}